@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.h-100{
    background-image: url('../assests/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav>div>a>h1{
    font-family: 'Ephesis', cursive;
    font-weight: bolder;
}

/* About page */
.about{
    background-image: url('../assests/mountain\ travel.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Service Page */
.serve{
    background-image: url('../assests/ocean.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
