@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
.h-100{
    background-image: url('../assests/main-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav>div>a>h1{
    font-family: 'Ephesis', cursive;
    font-weight: bolder;
}

/* About page */
.about{
    background-image: url('../assests/mountain\ travel.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Service Page */
.serve{
    background-image: url('../assests/ocean.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Counter section */
.counter {
    padding: 50px 0px;
}

.counter .count-card {
box-shadow: 25px 27px 10px -24px #e8e8e8;
padding: 30px;
width: 100%;
background: #fff;
border-right: 1px solid #e8e8e8;
border-bottom: 1px solid #e8e8e8;
border-bottom-right-radius: 50px;
position: relative;
overflow: hidden;
z-index: 99999;
}
.counter .count-card::after {
content: '';
position: absolute;
background: #fff5a0;
left: 0px;
top: 0px;
width: 0px;
height: 100%;
transition: all 0.5s;
z-index: -1;
}
.counter .count-card:hover::after {
background: #fff5a0;
width: 100%;
height: 100%;
}
.counter .count-card i {
display: block;
font-size: 30px;
color: #4caf50;
float: left;
}
.counter .count-card span {
line-height: 24px;
display: block;
color: #607d8b;
}

.counter .count-card h3 {
color: #607d8b;
}

.counter .count-card a {
font-weight: 600;
display: block;
border-top: 2px dashed #4caf50;
}
.counter .count-card a:hover {
color: #607d8b;
}
